*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 900px;
    position: fixed;
    z-index: 1;
}

header a{
    color: #e6e6e6;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 50px;
}

header button {
    color: #e6e6e6;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transition: 0.1s ease-in;
}

header a:hover{
    color: #fff;
}

header button:hover{
    color: #fff;
}

.modal1{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal2{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.reg{
    position: relative;
    background-color: #fff;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    height: 380px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}

.auth{
    position: relative;
    background-color: #fff;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    height: 240px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}

.close{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 15px;
    margin-bottom: 20px;
}

.peremoga{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 15px;
    margin-top: 20px;
}

.reg form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reg form input{
    width: 100%;
    height: 30px;
    border: 0.3px solid #000;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}

.reg form button{
    width: 100%;
    padding: 10px;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}

.auth form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth form input{
    width: 100%;
    height: 30px;
    border: 0.3px solid #000;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}

.auth form button{
    width: 100%;
    padding: 10px;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}

.board{
    width: 100%;
    height: 500px;
    background: url('/img/2.jpg');
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find{
    height: 200px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.find a{
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    width: 180px;
    padding: 5px;
    border-radius: 10px;
    background-color: orangered;
    text-align: center;
}

.specialties{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
    height: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.specialt{
    width: 300px;
    height: 300px;
    background-size: auto 100%;
    background-position: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    overflow: hidden;
}

.spec{
    background-color: rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.spec:hover{
    background-color: rgba(0, 0, 0, 0.5);
}


.specialt button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

.line{
    background-color: orangered;
    width: 900px;
    height: 2px;
}

.doctors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.doctor{
    height: 300px;
    width: 900px;
    border: 0.3px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}

.doctor .img{
    height: 300px;
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doctor .img img{
    height: 100%;
    width: auto;
}

.doctor .description{
    color: #282828;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.doctor .description h2{
    font-weight: 900;
}

.doctor .description p{
    font-size: 18px;
    font-weight: 300;
}

.doctor .description button{
    position: absolute;
    background-color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    transition: 0.1s ease-in;
    margin-left: 380px;
    margin-top: 120px;
}

.doctor .description button:hover{
    background-color: orangered;
    color: #fff;
}

.doctor form{
    margin-top: 80px;
}

.doctor form button{
    width: 150px;
    background-color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    transition: 0.1s ease-in;
}

.doctor form button:hover{
    background-color: orangered;
    color: #fff;
}

.entry{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.entry button{
    background-color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    transition: 0.1s ease-in;
}

.entry button:hover{
    background-color: orangered;
    color: #fff;
}

.entry form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #fff;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    height: 380px;
    width: 400px;
    border-radius: 10px;
    gap: 20px;
}

.entry form p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

.entry form input{
    height: 40px;
    width: 100%;
}

.panel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.panel .header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.panel .header button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    
}

.panel .header button:focus{
    text-decoration: underline;
}

.panel .entrys{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1000px;

}

.panel .entrys button{
    max-width: 100px;
    background-color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    transition: 0.1s ease-in;
}

.panel .entrys button:hover{
    background-color: orangered;
    color: #fff;
}

.panel .entrys h1{
    width: 100%;
    text-align: center;
}

.panel .entrys h2{
    font-size: 20px;
    font-weight: 500;
}

.panel .entrys h3{
    font-size: 18px;
    font-weight: 300;
}

.panel .entrys form{
    display: flex;
    flex-direction: column;
    border: 0.3px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}

.panel .doctors{
    display: none;
}

.panel .specialties{
    display: none;
}

.panel .setings{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.panel .setings a{
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.panel .setings a:hover{
    text-decoration: underline;
}

.changedoc{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 700px;
    border: 0.3px solid lightgray;
    padding: 20px;
}

.changedoc .img{
    height: 400px;
    width: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.changedoc img{
    height: 400px;
    width: auto;
}

.changedoc input{
    width: 100%;
    height: 30px;
    padding: 2px;
    border-radius: 5px;
    font-size: 20px;
}

.changedoc select{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.changedoc button{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    font-weight: 500;
    transition: 0.1s ease-in;
}

.changedoc button:hover{
    background-color: orangered;
    color: #fff
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.about textarea{
    min-height: 200px;
    max-height: auto;
    width: 1000px;
    font-size: 20px;
}

.about button{
    height: auto;
    width: 300px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px; 
    transition: 0.1s ease-in;   
}

.about button:hover{
    background-color: orangered;
    color: #fff
}


footer{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #565656;
    color: #fff;
}

footer .link{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

footer .link div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer .link img{
    height: 40px;
    width: auto;
    filter: invert(100%);
}